.honda-header{
    background-color: #264653;
    color:white;
}
.left-sider{
    padding: 100px;
}
.honda-section{
    width: 300px;
}
.leatest-bike{
    width: 280px;
   padding:10px;
}
#feature-bike{
    border: 1px solid #eee;
    text-align: center;
    border-radius: 10px;
}
.user{
    width: 100px;

}
.client-section{
    border: 1px solid green;

}
.faq{
    width: 423px;
}
.sumon{
    display: flex;
}
.cse{
    display: flex;
    text-decoration: none;
}
li{
    margin: 10px;
    text-decoration: none;
}